h1 {
    color:blue;
}

/* Estilo general de la pagina */

body {
font-family: Arial,Helvetica,sans-serif;
background-color:#f4f4f4;
margin:0;
line-height: 1.6;
}

/* Encabezado */
header {

background-color:#2c3e50;
color: white;
text-align: center;
padding:30px 20px;
}
/* Menu de navegacion */
nav {
background-color: #34495e;
text-align: center;
padding: 12px;
}
/*Enlaces del menu*/
nav{
color:white;
text-decoration: none;
margin:0 15px;
font-weight: bold;

}
/* Efecto al pasear el mouse*/
nav a:hover  {
color: black;

}
/* Secciones*/
section {
background-color: white;
margin: 20px   auto;
padding: 20px;
width: 80%;
border-radius: 8px;
}
/* Imagenes*/
img {
border-radius: 10px;
margin-top: 10px;
}
/* Pie de pagina */
footer {
background-color: blue;
color: red;
text-align: center;
padding: 10px;
margin-top: 20px;
}

